src/AlloyCms12/App_Data/*
!src/AlloyCms12/App_Data/DefaultSiteContent.episerverdata
src/AlloyCms12/App_Data/blobs/
node_modules/
artifacts/
.playwright-cli/
.playwright/*.png
# Visual Studio files
*.user
*.lock.json
.vscode/
.vs/
.nuget/
packages/
bin/
obj/

# Optimizely files
*license.config
modules/

# OS crap
.DS_Store
thumbs.db
ehthumbs.db
desktop.ini
